venv3/
.env/
venv/
.rasa/
ngrok/
travis_gcloud_auth.json
docker-compose.override.yml
**/.DS_Store
*.pyc
*.log
models
*.egg-info
docker-compose.yml
failed_stories.txt
failed_stories.md
story_confmat.pdf
demo/index.html
credentials.yml
creds.json
.idea
test_train_split
results
.history
rasa.*
terms
docker-local
.pytype/
